.main {
    height: 100vh;
    width: 100vw;
}
.btn-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 2;
}
.form {
    height: 200px;
    width: 175px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    opacity: 85%;
}